body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#link-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

input#title,
input#link {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 300px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.table {
    display: flex;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

td {
    padding: 5px;
}